#root {
  background-color: whitesmoke;
  overflow-x: scroll;
  min-height: 100vh;
  min-width: 370px;
}

.loginForm {
  width: 40%;
  min-width: 300px;
  margin: auto;
  box-shadow: 2px 2px 5px 0;
  border-radius: 10px;
  padding: 50px;
  padding-top: 20px;
  background-color: white;
}

.loginlogo {
  position: relative;
  width: inherit;
  margin: auto;
  height: 70px;
  margin-bottom: 20px;
}

.textLoginLogo {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 65px;
  z-index: 2;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .textLoginLogo {
    display: none;
  }
}

.walletLoginLogo {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 20px;
  top: 25px;
  color: black;
}

.coinsLoginLogo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 40px;
  top: 35px;
  color: rgb(221, 221, 77);
}

.container {
  padding-top: 20%;
}

.fullHeight {
  height: 100vh;
  width: 100%;
}

.centered {
  display: block;
  margin: auto;
}

.loginInput {
  background-color: whitesmoke;
}

.loginValidationIcon {
  padding-right: 50px;
}

.loginValidationInput {
  visibility: hidden;
  cursor: pointer;
}

.passwordContainer {
  position: relative;
}

.showPasswordLabel {
  position: absolute;
  top: 53%;
  right: 0;
  cursor: pointer;
}

.walletHeader {
  margin: 0 3%;
}

.headerContainer {
  padding-bottom: 0;
  min-height: 50px;
  position: relative;
}

.walletLogo {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.walletHeaderLogo {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 20px;
  top: 25px;
  color: black;
}

.coinsHeaderLogo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 40px;
  top: 35px;
  color: rgb(221, 221, 77);
}

.textHeaderLogo {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 65px;
  z-index: 2;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .textHeaderLogo {
    display: none;
  }
}

.totalExpenses {
  position: absolute;
  display:inline-block;
  font-weight: bolder;
  text-align: right;
  right: 0;
  top: 60%;
  padding-top: 20px;
}

.userInfo {
  position: absolute;
  right: 0;
  top:20%;
  width: 200px;
  min-width: fit-content;
  margin-right: 0;
  margin-left: auto;
  font-weight: bold;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  padding: 8px;
  border-radius: 40px;
}

.userIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.username {
  display: inline-block;
}

.walletForm {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin:auto;
}

.walletFormLevel {
  display: flex;
  flex-flow: row wrap;
}

.walletFormButton {
  margin-bottom: 12px;
  padding-top: 4px;
} 

.walletTable {
  margin: 0 3%;
}

.table {
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

.tableRow {
  height: 85px;
  min-height: 85px;
}

.thead th {
  font-weight: bolder;
  text-align: center;
  align-self: center;
}

table td:not([align]), table th:not([align]) {
  text-align: center;
  vertical-align: middle;
}

.table th:not([align]) {
  text-align: center;
  vertical-align: middle;
}

.tableEditMenu {
  width: 100px;
}
.tableMenuIcon {
  cursor: pointer;
}

.tableEditionButton {
  max-width: 70px;
  max-height: 30px;
  align-self: center;
}

.tableEditionButton:nth-child(1) {
  margin-bottom: 5px;
}

.walletChart {
  margin: 50px 3%;
}

.chartsContainer {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.chartContainer {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  min-width: 200px;
}

.chartHeading {
  text-align: center;
}

@media screen and (max-width: 1097px) {
  .chartsContainer {
    justify-content: center;
  }
}